<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand big-big-font" href="<%= cards_path %>">HARDCAST</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= link_to "Logout", logout_path, method: :delete %>
          <!-- <span class="glyphicon glyphicon-log-out"></span> --> </li>
          <li><a href="<%= "#" %>" class="cart-link">
          <span class="glyphicon glyphicon-user"></span><%= current_user.name.capitalize %>'s Deck</a></li>
        <% else %>
          <li><%= link_to "Login with Twitch", twitch_login_path %>
          <!-- <span class="glyphicon glyphicon-log-in"></span></li> -->
          <li><a href="<%= "#" %>" class="cart-link">
          <span class="glyphicon glyphicon-user"></span>Create Account</a></li>
          <li><a href="<%= "#" %>" class="category-link">Categories</a></li>
        <% end %>
    </ul>
  </div>
</nav>
