<div class="container-fluid">
  <div class="standard_sets col-md-3">
    <h2>Standard Sets</h2>
    <ul>
    <% @cards.sets.reverse.each do |set| %>
      <li><%= link_to "#{set["name"]}", sets_path(set: set["code"]) %><br>
      <%= set["type"] %><br>
      <%= set["block"] unless set["block"].nil? %>
      </li>
      <p></p>
    <% end %>
  </ul>
  </div>

<div class="selected-card col-md-3 col-md-offset-1">
  <h1 class="text-center">Selected Card</h1>
    <!-- ajax happens here hopefully -->
</div>

  <div class="standard_cards col-md-3 col-md-offset-1">
    <h2>Featured Cards</h2>
    <% @cards.cards["cards"].each do |card| %>
    <!-- <%# @cards.cards.each do |card| %> -->
      <!-- <div class="card" data-name=card["name"] data-set=card["set"] data-image=card["imageUrl"]> -->
      <a href="#" class="card" data-name="<%= card["name"].downcase.split.join("_") %>" data-set="<%= card["set"].downcase %>" data-image="<%= card["imageUrl"] %>">
        <%= image_tag(card["imageUrl"]) %><br></a>
        <%= card["name"] %>   <%= card["manaCost"] %><br>
        <%= card["type"] %>   <%= card["rarity"] %><br>
        <%= card["text"] %><br>
        <%= "#{card["power"]}/" unless card["power"].nil? %><%= card["toughness"] unless card["toughness"].nil? %><br>
        <p></p>
    <!-- </div> -->
    <% end %>
  </div>
</div>
