<!DOCTYPE html>
<html>
<head>
  <title>Hardcast</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1"></head>
  <div class="flash-messages">
    <% flash.each do |name, msg| %>
      <div class= "alert alert-<%= "#{name}" %> btn-font-size" role: "alert">
        <%= sanitize(msg) %>
      </div>
    <% end %>
  </div>
  <%= render partial: "shared/main_navbar" %>
<body>

<%= yield %>

</body>
</html>
